<html>
<header>
    <link rel="stylesheet" href="./css/site.css" />
    <script src="./js/site.js"></script>
</header>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>{{errorMessage}}</p>
    </div>
    <div class="footer">{{>footer}}</div>
</body>

</html>