<html>
<header>
    <link rel="stylesheet" href="./css/site.css" />
</header>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <div class="content">
            <form id="form">
                <input placeholder="Enter a valid City"/>
                <button type="submit">Get Weather Data</button>
                <h3 id="json">
                    
                </h3>
            </form>
        </div>
    </div>
    <div class="footer">{{>footer}}</div>
    <script src="./js/site.js"></script>
</body>

</html>